*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
}
.wrapper{
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.navbar{
  width: 100%;
  height: 80px;
  background-color: #01061D;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo{
  color: #D9D2C3;
  font-size: 28px;
  font-weight: 600;
}
.navbar .links{
  color: #D9D2C3;
  display: flex;
  cursor: pointer;
}
.navbar .links li{
  margin: 0px 15px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 10px;
}
.links li:hover{
   background: #D9D2C3;
   color: #01061D;
   transition: .3s;
}
.navbar .toggle-icon{
  display: none;
}

@media(max-width: 769px){
  .navbar{
    position: relative;
    transition: 0.5s height ease-in-out;
  }
  .navbar.expanded{
    height: 100vh;
  }
  .navbar.expanded .links{
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
  }
  .navbar.expanded .links li{
    margin: 10px 0px;
    font-size: 20px;
  }
  .navbar .logo{
    position: absolute;
    top: 23px;
    left: 20px;
  }
  .navbar .toggle-icon{
    display: block;
    position: absolute;
    top: 28px;
    right: 20px;
    color: #D9D2C3;
    cursor: pointer;
  }
  .navbar .links{
    display: none;
  }
  .links li:hover{
    color: #01061D;
    background: #D9D2C3;
    border-radius: 20px;
    transition: 0s;
  }
  .navbar .links{
    position: absolute;
    top: -315px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s opacity ease-in-out;
  }
  .navbar .links li{
    margin: 20px 0px;
    font-size: 20px;
    padding: 10px 20px;
  }
}
